[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CruzPlot"]
	path = CruzPlot
	url = https://github.com/swfsc/cruzplot
[submodule "eSDM"]
	path = eSDM
	url = https://github.com/swfsc/esdm
[submodule "swfscAirDAS"]
	path = swfscAirDAS
	url = https://github.com/swfsc/swfscairdas
[submodule "swfscDAS"]
	path = swfscDAS
	url = https://github.com/swfsc/swfscdas
