[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eSDM"]
	path = eSDM
	url = https://github.com/swfsc/esdm
[submodule "swfscDAS"]
	path = swfscDAS
	url = https://github.com/swfsc/swfscdas
